$sp: 480px;  // スマホ

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
////てんぷれ//////
a,ins{text-decoration:none}em,mark{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}hr,img{border:0}a,hr,input,select,textarea{margin:0;padding:0}.box,.cf,.inner{clear:both}.cf,ul{overflow:hidden}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}li,ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{font-size:100%;vertical-align:baseline;background:0 0}mark{font-weight:700}img{vertical-align:top-bottom}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border-top:1px solid #ccc}input,select,textarea{font-family:inherit;font-style:inherit;font-weight:inherit;font-size:100%;vertical-align:middle}.inner,.m0a{margin:0 auto}input:focus,select:focus,textarea:focus{outline:0}input[type=submit],input[type=button]{background:0;border-radius:0;-webkit-box-sizing:content-box;-webkit-appearance:button;-moz-appearance:button;appearance:button;border:none;box-sizing:border-box}input[type=submit]::-webkit-search-decoration,input[type=button]::-webkit-search-decoration{display:none}input[type=submit]::focus,input[type=button]::focus{outline-offset:-2px}body,html{width:100%;height:100%}body{font-family:serif;font-size:16px;line-height:35px}small{font-size:90%}a,a:hover{-webkit-transition-duration:.5s;transition-duration:.5s}.hidden{display:none}.m0a{display:block}.sp{display:none!important}.pc{display:block!important}@media screen and (max-width:480px){.sp{display:block!important}.pc{display:none!important}}.inner{width:1000px}.left{float:left}.right{float:right}.center{text-align:center}.txtl{text-align:left!important}.absolute_box{position:relative}.absolute{position:absolute}.flex_box{display:-webkit-box;display:-ms-flexbox;display:flex;display:-webkit-flex}.cf{display:block}@media screen and (max-width:480px){.flex_box{display:block}#wpadminbar{display:none}}

////////////////

body {
	p{
		font-family: 'Noto Sans JP', sans-serif;
		margin:5px 0;

		@include sp {
					font-size:10px;
					line-height:17px;
				};
		}
	h3{
		font-family: 'ZCOOL QingKe HuangYou', cursive;
		font-size:28px;
		@include sp {
					font-size:18px;
				};
		}
	h2{
		font-size:28px;
		margin:0 0 40px 0;
		}
	li,h2,p+p{
		font-family: 'k8x12S';
		scr: url(../img/font/k8x12.ttf) format("turetype");
		}
	li{
		list-style:none;
		}
	a{
		text-decoration: none;
		color:#fff;
		}
		.main_wrap{
		background: -moz-linear-gradient(to bottom, #10172B 40%, #3C4252 70%, #435D6B);
		background: -webkit-linear-gradient(to bottom, #10172B 40%, #3C4252 70%, #435D6B);
		background: linear-gradient(to bottom, #10172B 40%, #3C4252 70%, #435D6B);
		background-repeat:no-repeat;
		}

	.back{
		position:fixed;
		bottom:100px;
		right:30px;

		&:hover{
			opacity:.5;
		}
	}
	@include sp {
		.back{
			display:none;
		}
	};
}

.main{
	margin:0 auto;
}

.top_lv{
	height:100vh;
	width:100%;
	position:relative;
	margin-top:40px;
		@include sp {
		margin-top:0;
				};
	background-image:url("../img/top_monster.png");
	background-repeat:no-repeat;
	background-size:90%;


	.ti{
		position:absolute;
		width:30%;
		top:100px;
		left:35%;
	}

	.as{
		position:absolute;
		width:20%;
		top:240px;
		right:16%;
	}

	@include sp {
	background-image:url("../img/top_monster_sp.png");
	.ti{
		position:absolute;
		width:60%;
		top:100px;
		left:20%;
	}

	.as{
		position:absolute;
		width:44%;
		top:250px;
		right:3%;
		}
	};
}

.elem {
 	opacity: 0;
 	transition: 1.5s;
	transform: translate(0,30px);
	-webkit-transform: translate(0,30px);
}

.isAnimate {
 	opacity: 1;
	transform: translate(0,0);o
 	-webkit-transform: translate(0,0);
}

body{
animation: fadeIn 3s ease 0s 1 normal;
-webkit-animation: fadeIn 3s ease 0s 1 normal;
}

@keyframes fadeIn {
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}
